 <header class="main-header">
        <div class="logo">
           <a href="home"><img src="../../../../assets/Images/GO CHAT.png"></a>
        </div>
        <input type="checkbox" class="menu-btn" id="menu-btn">
        <label for="menu-btn" class="menu-icon">
            <span class="menu-icon__line"></span>
        </label>
        <ul class="nav-links">
            <li class="nav-link">
                <a href="#">Port</a>
            </li>
            <li class="nav-link">
                <a href="#">Services</a>
            </li>
            <li class="nav-link">
                <a href="#">Content</a>
            </li>
            <li class="nav-link">
                <a href="/auth/login">Login</a>
            </li>
        </ul>
    </header>
    <div class="hero">
        <h1> Lets Chatting </h1>
    </div>
    <div class="container">
        
    </div>
    <script src="home.com.js"></script>