<div class="body">
    <input type="checkbox" id="check">
    <!--header area start-->
    <header>
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
      <div class="left_area">
        <img src="./../../../../../assets/Images/gochat-logologo.png">
      </div>
     
      <div class="right_area">
        <a href="#" class="logout_btn">Logout</a>
      </div>

      <div class="search">
        <form class="search-box" action="" method="">
          <input type="text" name="" value="" placeholder="Search">
          <button class="search-btn" type="button" name="button">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
    </header>
    <!--header area end-->
    <!--sidebar start-->
    <div class="sidebar">
      <div>
        <img src="./../../../../../assets/Images/WIN_20200307_14_47_15_Pro.jpg" class="profile_image" alt="">
        <h4>Islam</h4>
      </div>
      <a href="#"><i class="fas fa-desktop"></i><span>Feed</span></a>
      <a href="#"><i class="fas fa-cogs"></i><span>Components</span></a>
      <a href="#"><i class="fas fa-table"></i><span>Tables</span></a>
      <a href="#"><i class="fas fa-th"></i><span>Forms</span></a>
      <a href="#"><i class="fas fa-info-circle"></i><span>About</span></a>
      <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a>
    </div>
    <!--sidebar end-->

    <div class="content"></div>
</div>
